@page "/product/details/{id}"
@model MK97_HamidrezaRostaminezhad_HW9.Pages.pages.DetailsModel
@{

}

<section class="bg-light">
    <div class="container pb-5">
        <div class="row">
            <div class="col-lg-5 mt-5">
                @{
                    var PhotoImg = "/img/" + (@Model.product.PhotoUrl ?? "noimage.jpg");
                    <img class="cart-img-top img-thumbnail" src="@PhotoImg">
                }

            </div>
            <div class="col-lg-7 mt-5" >
                <div class="card" style="padding:30px">
                    <h1 class="h2">@Model.product.ProductName</h1>
                    <p class="h3 py-2">$@Model.product.Price</p>
                    <p class="py-2">
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-warning"></i>
                        <i class="fa fa-star text-secondary"></i>
                        <span class="list-inline-item text-dark">Rank 4.8 | 36 Comments</span>
                    </p>
                    <h6>Description:</h6>
                    <p>@Model.product.Description</p>
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <h6>Bar Code :</h6>
                        </li>
                        <li class="list-inline-item">
                            <p class="text-muted"><strong>@Model.product.Barcode</strong></p>
                        </li>
                    </ul>
                    <form method="post">
                        <div class="row pb-3">
                            <div class="col d-grid">
                                <input type="hidden" asp-for="@Model.id" value="@Model.product.Id">
                                <button asp-page="/pages/Index" asp-route-Id="@Model.product.Id" class="btn btn-success btn-lg" type="submit">delete</button>
                            </div>
                            <div class="col d-grid">
                                <a asp-page="/pages/Edit" asp-route-Id="@Model.product.Id" class="btn btn-success btn-lg">edit</a>
                            </div>
                        </div>
                    </form>
                </div>




            </div>

        </div>
    </div>
</section>
