@page
@model MK97_HamidrezaRostaminezhad_HW9.Pages.pages.IndexModel
@{
}
<section class="bg-light" style="margin-bottom:5rem">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Welcome to Maktab Shop</h1>
                <p>you can </p>
            </div>
        </div>

        <div class="row">
            @foreach (var item in Model.products)
            {
                var PhotoImg = "/img/" + (@item.PhotoUrl ?? "noimage.jpg");
                <div class=" col-12  col-md-4 mb-4">
                    <div class="card h-100">
                        <a asp-page="/pages/Details" asp-route-Id="@item.Id">
                            <img src="@PhotoImg" class="card-img-top" alt="...">
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-warning fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                    <i class="text-muted fa fa-star"></i>
                                </li>
                                <li class="text-muted text-right">$@item.Price</li>
                            </ul>
                            <a asp-page="/pages/Details" asp-route-Id="@item.Id" class="h2 text-decoration-none text-dark">@item.ProductName</a>
                            <p class="card-text">
                                @item.ShortDescription
                            </p>
                            <p class="text-muted">Reviews (24)</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

</section>
